* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(243, 255, 247);
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
}

.main-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.box-all {
    margin-left: 15px;
    margin-right: 15px;
}

.main-title p {
    font-size: 18px;
    color: var(--main-color);
    font-weight: bolder;
}

.main-title address {
    margin-top: 10px;
    font-size: 35px;
    color: var(--secondry-color);
    font-weight: bolder;
}

:root {
    --main-color: green;
    --secondry-color: rgb(0, 0, 119);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0px 11px 32px 8px rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
}

header nav {
    display: flex;
}

.brand-name {
    color: var(--secondry-color);
}

.brand-name i {
    font-size: 22px;
}

header nav a:hover {
    color: var(--secondry-color);
}

@media (min-width: 768px) {
    .fa-bars {
        display: none;
    }
}

.fa-bars {
    color: rgb(158, 7, 7);
    font-size: 25px;
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
}

header nav .fa-bars:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}

header nav ul li a {
    padding: 10px !important;
    display: block;
    color: var(--main-color);
    font-size: 15px;
    text-decoration: none;
    transform: 0.9s;
}

header nav .fa-bars:hover+ul li a {
    padding: 15px;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

/* end navbar */

.landing {
    background-color: white;
    height: 100vh;
}

.container-header {
    display: flex;
}

.container-header .content {
    margin-top: 250px;
    margin-left: 40px;
}

.container-header .content address {
    margin-bottom: 10px;
    color: #161616;
    font-weight: var(--secondry-color);
}

.container-header .content h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--main-color);
    font-weight: bolder;
}

.container-header .content p {
    line-height: 24px;
    font-size: 14px;
}

.container-header .content button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    margin-top: 9px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.container-header .content button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: hsl(236, 32%, 26%);
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.container-header .content button:hover {
    cursor: pointer;
    color: white;
}

.container-header .content button:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

.container-header img {
    width: 700px;
    margin-top: 20px;
}

@media(max-width: 767px) {
    .container-header {
        display: block;
    }

    .container-header .content {
        margin-top: 0;
        padding-top: 150px;
        margin-left: 40px;
    }

    .container-header img {
        display: none;
    }
}

/* start about */
.about-us .container-about-us .container {
    margin-top: 100px;
    margin-bottom: 100px;
}

@media(max-width: 770px) {
    .about-us .container-about-us .container {
        display: block;
    }


}

.about-us .container-about-us .container .content h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    color: var(--main-color);
}

.about-us .container-about-us .container .content p {
    font-size: 22px;
    line-height: 29px;
    color: #949494;
}


/* end about */

/* start Dishes */
.container-Dishes {
    margin-bottom: 50px;
}

.container-Dishes .content .box {
    border: 1px solid #ccc;
    border-radius: 9px;
    background-color: white;
    text-align: center;
    height: 350px;
    position: relative;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.51);
    transition: 0.4s;
}

.container-Dishes .content .box:hover {
    box-shadow: none;
}

.container-Dishes .content .icon .heart,
.container-Dishes .content .icon .eye {
    margin: 10px;
    font-size: 18px;
    background-color: #e1e1e1;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
}

.container-Dishes .content .icon .heart:hover,
.container-Dishes .content .icon .eye:hover {
    cursor: pointer;
    color: var(--main-color);
}

.container-Dishes .content .box img {
    width: 200px;
    height: 140px
}

.container-Dishes .content .box h3 {
    margin-top: 20px;
    padding-bottom: 5px;
    color: var(--main-color);
}

.container-Dishes .fa-star,
.fa-star-half {
    padding-top: 10px;
    margin-bottom: 10px;
    color: gold;
}

.container-Dishes .content .box .brice {
    margin-top: 15px;
}

.container-Dishes .content .box .brice span {
    margin-right: 15px;
    font-size: 18px;
    color: var(--main-color);
}

.container-Dishes .content .box .brice button {
    border: none;
    border-radius: 4px;
    padding: 6px 14px;
    background-color: var(--secondry-color);
    color: white;
    cursor: pointer;
}

/* end Dishes */

/* start menu */

.menu {
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu .container-menu .content .box {
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.51);
    transition: 0.4s;
}

.menu .container-menu .content .box:hover {
    box-shadow: none;
}

.menu .container-menu .content .box img {
    width: 342.5px;
    height: 220px;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.menu .container-menu .content .box span {
    margin-left: 15px;
}

.menu .container-menu .content .box address {
    font-size: 20px;
    font-weight: bolder;
    color: var(--main-color);
    margin-left: 15px;
    margin-bottom: 20px;
}

.menu .container-menu .content .box p {
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
}

.menu .container-menu .content .box .price {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.menu .container-menu .content .box .price button {
    border: none;
    border-radius: 4px;
    background-color: var(--secondry-color);
    color: white;
    padding: 8px 15px;
    cursor: pointer;
}

.menu .container-menu .content .box .price span {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
}

/* end menu */

/* strat Review */
.Review {
    margin-bottom: 50px;
}

.Review .container-Review .head-title img {
    width: 65px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin: 5px;
}

.Review .container-Review .head-title .info {
    margin-left: -70px;
    margin-top: 10px;
}

.Review .container-Review .head-title {
    border-bottom: 1px solid #e1e1e1;
}

.Review .container-Review .boxes section {
    border: 1px solid #ccc;
    border-radius: 15px;
}

.Review .container-Review .boxes section .desc {
    margin: 10px;
    color: #ccc;
    text-align: center;
}

.quote {
    margin: 10px;
    font-size: 50px;
    color: #e1e1e1;
}


/* START ORDER */

.order {
    background-color: #e1e1e1;
    padding-bottom: 70px;
}



.order .main-title {
    top: 20px;
    position: relative;
}

form {
    flex-wrap: wrap;
}

form .content-data-1 {
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border: 0px solid #000000;
}

form .content-data-2 {
    background-color: #ccc;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}

.order-now .content-data-1 label,
.order-now .content-data-2 label {
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--main-color);
}

.order-now .content-data-1 input,
.order-now .content-data-2 input {
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid #eee;
    color: rgb(0, 0, 0);
    background-color: #e7e7e7;
    padding: 8px 14px;
    border-radius: 4px;
}

textarea {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

.submit-btn {
    margin-left: 34px;
    margin-top: 30px;
    z-index: 1;
    font-size: 22px;
    color: white;
    padding: 14px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.submit-btn::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #ffffff;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.submit-btn:hover {
    cursor: pointer;
    color: #161616;
}

.submit-btn:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

footer {
    text-align: center;
    background-color: #d4d4d4;
}

footer h2 {
    color: var(--main-color);
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

footer p {
    color: var(--secondry-color);
}

.social-footer i:nth-child(1) {
    margin-right: 10px;
}

.social-footer i {
    font-size: 22px;
    color: var(--secondry-color);
}